main {
  min-height: calc(100vh - 58px - 58px);
  background-color:rgb(40, 40, 40);
}

.sort-section {
  padding: 10px 0;
  box-sizing: border-box;
  height: 38px;
  color: white;
  background-color: rgb(82, 82, 82);
  display: flex;
  justify-content: space-between;
  min-width: 860px;
}

.sort-list {
  position: absolute;
  padding-top: 10px;
  left: -10px;
  z-index: 100;
}

.sort-list li {
  display: block;
  padding: 10px;
  background-color: rgb(82, 82, 82);
  width: 70px;
}

.sort-list li a {
  display: block;
  height: 100%;
  width: 100%;
}

.sort:hover .sort-list {
  display: block;
}

.sort-list {
  text-align: right;
  left: -50px;
}

.sort {
  position: relative;
  display: inline-block;
  margin-right: 60px;
  margin-left: auto;
  height: 100%;
}

.sort-list {
  position: absolute;
}

.sort-section a {
  display: block;
  height: 100%;
  font-size: 1em;
}

#catalog-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 170px);
  column-gap: 50px;
  row-gap: 25px;
  height: 100%;
  padding:  30px;
}

.catalog-item {
  height: 220px;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}

.catalog-item:hover {
  border-color: yellow;
}

.grid-item-rating {
  margin: 10px 0;
}

.fa-star {
  color: white;
}

.checked {
  color: #FFFF00;
}

.cocktail-image {
  position: relative;
  margin-bottom: auto;
  margin-top: 20px;
}

.cocktail-image img {
  position: relative;
  height: 120px;
  z-index: 10;
}

.ingredient-container {
  position: absolute;
  top: 0;
  margin-left: 5%;
  margin-right: 5%;
  height: 69.5%;
  width: 90%;
  border-radius: 0 0 5% 5%;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.cocktail-ingredient {
  width:100%;
}

.ingredient1 {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
  background-color: darkred;
}

.ingredient2 {
  clip-path: inset(33% 0 0 0);
  -webkit-clip-path: inset(33% 0 0 0);
  background-color: grey;
}

.ingredient3 {
  clip-path: inset(66% 0 0 0);
  -webkit-clip-path: inset(66% 0 0 0);
  background-color: darkblue;
}

.cocktail-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
  z-index: 10;
}

/* SMARTPHONES */

@media only screen
    and (orientation: portrait) {

    .sort-section {
      font-size: 3em;
      height: 100%;
    }

    .sort-list li {
      width: 150px;
    }

    .sort-list {
      left: -65px;
    }

    #catalog-grid {
      grid-template-columns: repeat(auto-fit, 600px);
      row-gap: 50px;
    }

    .catalog-item {
      height: 600px;
      padding: 30px;
    }

    .cocktail-image img{
      height: 350px;
    }

    .cocktail-title {
      font-size: 5em;
    }

    .grid-item-rating {
      font-size: 2.5em;
  }
}