main {
  display: block;
  min-height: calc(100vh - 58px - 58px);
  background-color: rgb(40, 40, 40);
  box-sizing: border-box;
  padding: 100px 0;
  min-width: 1000px;
}

main label {
  color: white;
}

button {
    background-color: white;
    outline: none;
    border: none;
}

input {
  padding: 5px;
}

label {
  font-size: 1.2em;
}

.create-cocktail-form {
  box-sizing: border-box;
  background-color: rgb(50, 50, 50);
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  margin: 0 auto;
  width: 60%;
}

.cocktail-form-block {
  display: flex;
  min-height: 320px;
  width: 100%;
}

.cocktail-form-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: content-box;
  padding: 10px;
}

.cocktail-image {
  position: relative;
  margin-bottom: 50px;
}

.cocktail-image img {
  position: relative;
  height: 170px;
  z-index: 10;
}

.ingredient-container {
  position: absolute;
  top: 0;
  margin-left: 5%;
  margin-right: 5%;
  height: 69.5%;
  width: 90%;
  border-radius: 0 0 5% 5%;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.cocktail-ingredient {
  width:100%;
}

.cocktail-form-right {
  width: 60%;
  padding: 30px;
  font-size: 1.3em;
  box-sizing: border-box;
}

#cocktail-name {
  width: 70%;
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: center;
}

#cocktail-value {
  margin-top: 7px;
  width: 20%;
  font-size: 1.1em;
  padding: 2px 5px;
  text-align: center;
}

.add-ingredients-section {
  margin-bottom: 20px;
}

.ingredients-select-list {
  margin-bottom: 20px;
  list-style-type: none;
}

.ingredient-select-list-item {
  text-align: left;
  margin-bottom: 10px;
}

.flex-ingredient-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredients-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  font-size: 1em;
  display: inline-block;
  min-width: 150px;
  text-align: center;
  padding-left: 10px;
}

.ingredient-value-input {
  margin-left: 10px;
  margin-right: auto;
  text-align: center;
  font-size: 1em;
  display: inline-block;
  width: 20%;
}

.remove-ingredient-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1em;
}

#add-ingredient-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2em;
  display: block;
  margin: 0 0 0 auto;
}

#description-textarea {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#create-button {
  padding: 5px;
  font-size: 0.8em;
  display: block;
  margin: 0 0 0 auto;
}

/* HELPERS*/

.vertical-seporator {
  width: 1px;
  background: grey;
}

/* HELPERS END*/

/* SMARTPHONES */

@media only screen
    and (orientation: portrait) {

    .cocktail-form-block {
      flex-direction: column;
      height: auto;
    }

    .cocktail-form-left {
      width: 100%;
    }

    .cocktail-image img{
      height: 350px;
    }

    .cocktail-image {
      margin-top: 50px;
    }

    .cocktail-form-right {
      width: 100%;
    }

    .vertical-seporator {
      height: 1px;
      width: inherit;
    }

    #cocktail-name {
      font-size: 2.5em;
    }

    .ingredients-select, .ingredient-value-input {
      font-size: 2em;
    }

    .remove-ingredient-button {
      font-size: 2em;
      height: 60px;
      width: 60px;
    }

    #add-ingredient-button {
      font-size: 2.5em;
      height: 70px;
      width: 70px;
    }

    #description-textarea {
      font-size: 2em;
    }

    #create-button {
      font-size: 2em;
    }
  }