* {
  font-family: Helvetica Neue Light, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
}

.hidden {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HEADER */
header {
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding: 10px 10px 10px 50px;
  display: flex;
  min-width: 950px;
}

nav {
    display: block;
}

.header-menu-title .fa-cocktail {
  color: blue;
}

header .header-search {
  padding-left: 50px;
  padding-top: 3px;
  height: 100%;
}

header .header-search input {
  box-sizing: border-box;
  height: 35px;
  width: 400px;
  font-size: 1em;
  outline: none;
  padding-left: 5px; 
}

.header-login {
    margin-left: auto;
    font-size: 1em;
    padding: 10px;
}

.header-signup {
  font-size: 1em;
  padding: 10px;
}

.menu-list {
  position: absolute;
  top: 20px;
  padding-top: 38px;
  z-index: 20;
}

.menu-list li {
  display: block;
  background-color: rgb(44, 0, 102);
  font-size: 1.5em;
  width: 230px;
}

.menu-list li a {
  display: block;
  padding: 10px; 
  height: 100%;
  width: 100%;
}

.menu-list li button {
  display: block;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  font-size: 1em;
  text-align: left;
}

.menu-list li:hover {
  background-color: #6f56ff;
}

.header-menu:hover .main-menu-navigation .menu-list {
  display: block;
}

/* HEADER END */

/* FOOTER */

footer {
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  background-color: black;
  font-weight: lighter;
  min-width: 650px;
  padding: 20px 50px 20px 50px;
}

footer .copyright {
  width: 100%;
  text-align: center;
  color: white;
}

/* FOOTER END*/

/* SMARTPHONES */

@media only screen
    and (orientation: portrait) {

    h1 {
      font-size: 3.7em;
    }

    header {
      padding: 30px 50px;
    }

    header .header-search {
      margin-left: auto;
    }

    header .header-search input {
      height: 60px;
      width: 320px;
      font-size: 1.8em;
      padding-left: 15px;
    }

    .header-signup, .header-login {
      display: none;
    }

    footer {
      position: fixed;
      z-index: 10;
      left: 0;
      bottom: 0;
      height: 100px;
      font-size: 1.5em;
      padding: 36px 0;
    }

    .menu-list {
      top: 80px;
      padding-top: 48px;
    }

    .menu-list li {
      display: block;
      padding: 20px;
      font-size: 3em;
      width: 430px;
    }
}
