.water {
    background-color: rgb(36, 36, 182);
}

.light-rum {
    background-color: grey;
}

.lime-juice {
    background-color: rgb(0, 161, 0);
}

.milk {
    background-color: white;
}

.sugar {
    background-color: rgb(190, 190, 190);
}

.banan {
    background-color: yellow;
}

.rum {
    background-color: rgb(170, 96, 0);
}

.bourbon {
    background-color: rgb(172, 0, 0);
}

.cocacola {
    background-color: rgb(66, 9, 9);
}